src/CEC.SAISE.EDayModule/Connected Services/EDayServiceReference/SAISE.Admin.WebApp.WebServices.Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAISE.Admin.WebApp.WebServices.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAISE.Admin.WebApp.WebServices.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EDayResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDayExporter" nillable="true" type="tns:SyncExporter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EDayResponse" nillable="true" type="tns:EDayResponse" />
  <xs:complexType name="SyncExporter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stages" nillable="true" type="tns:ArrayOfSyncExporterStage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncExporter" nillable="true" type="tns:SyncExporter" />
  <xs:complexType name="ArrayOfSyncExporterStage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SyncExporterStage" nillable="true" type="tns:SyncExporterStage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSyncExporterStage" nillable="true" type="tns:ArrayOfSyncExporterStage" />
  <xs:complexType name="SyncExporterStage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Statistics" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncExporterStage" nillable="true" type="tns:SyncExporterStage" />
</xs:schema>