Downloads/cec.srv_indrivo-dev/src/CEC.SAISE.EDayModule/Connected Services/EDayServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SAISE.Admin.WebApp.WebServices.Types" />
  <xs:element name="SyncEDayData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eDayId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncEDayDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SAISE.Admin.WebApp.WebServices.Types" minOccurs="0" name="SyncEDayDataResult" nillable="true" type="q1:EDayResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDayStages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eDayId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDayStagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SAISE.Admin.WebApp.WebServices.Types" minOccurs="0" name="GetEDayStagesResult" nillable="true" type="q2:EDayResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveDataToRepository">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>