src/CEC.SAISE.EDayModule/Connected Services/Notifyservice/NotifyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cec-admin-dev.cs1.soft-tehnica.com/webservices/NotifyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAISE.Admin.WebApp.WebServices.Types" />
  <xs:element name="GetNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SAISE.Admin.WebApp.WebServices.Types" minOccurs="0" name="notificationsRequest" nillable="true" type="q1:NotificationsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SAISE.Admin.WebApp.WebServices.Types" minOccurs="0" name="GetNotificationsResult" nillable="true" type="q2:PageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="notificationId" type="xs:long" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmNotificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MNotificationSystemEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MNotificationSystemEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>