src/CEC.SAISE.EDayModule/Connected Services/Notifyservice/NotifyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotifyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cec-admin-dev.cs1.soft-tehnica.com/webservices/NotifyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cec-admin-dev.cs1.soft-tehnica.com/webservices/NotifyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cec-admin-dev.cs1.soft-tehnica.com/webservices/NotifyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAISE.Admin.WebApp.WebServices.Types" />
      <xsd:import schemaLocation="http://cec-admin-dev.cs1.soft-tehnica.com/webservices/NotifyService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotifyService_GetNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotifications" />
  </wsdl:message>
  <wsdl:message name="INotifyService_GetNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="INotifyService_ConfirmNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmNotification" />
  </wsdl:message>
  <wsdl:message name="INotifyService_ConfirmNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="INotifyService_MNotificationSystemEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:MNotificationSystemEvent" />
  </wsdl:message>
  <wsdl:message name="INotifyService_MNotificationSystemEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:MNotificationSystemEventResponse" />
  </wsdl:message>
  <wsdl:portType name="INotifyService">
    <wsdl:operation name="GetNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/INotifyService/GetNotifications" message="tns:INotifyService_GetNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotifyService/GetNotificationsResponse" message="tns:INotifyService_GetNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/INotifyService/ConfirmNotification" message="tns:INotifyService_ConfirmNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotifyService/ConfirmNotificationResponse" message="tns:INotifyService_ConfirmNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MNotificationSystemEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/INotifyService/MNotificationSystemEvent" message="tns:INotifyService_MNotificationSystemEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotifyService/MNotificationSystemEventResponse" message="tns:INotifyService_MNotificationSystemEvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotifyService" type="tns:INotifyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNotifications">
      <soap:operation soapAction="http://tempuri.org/INotifyService/GetNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmNotification">
      <soap:operation soapAction="http://tempuri.org/INotifyService/ConfirmNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MNotificationSystemEvent">
      <soap:operation soapAction="http://tempuri.org/INotifyService/MNotificationSystemEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotifyService">
    <wsdl:port name="BasicHttpBinding_INotifyService" binding="tns:BasicHttpBinding_INotifyService">
      <soap:address location="http://cec-admin-dev.cs1.soft-tehnica.com/webservices/NotifyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>