Downloads/cec.srv_indrivo-dev/src/CEC.Web.SRV/Connected Services/ReportServiceReference/ReportService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAISE.Admin.WebApp.WebServices.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAISE.Admin.WebApp.WebServices.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReportResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportExecutionService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportingService2010" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reports" nillable="true" type="tns:ArrayOfReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportResultDto" nillable="true" type="tns:ReportResultDto" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
</xs:schema>