src/CEC.Web.Api/Connected Services/getVoterDataEday/GetDataVoters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CEC.SAISE.EDayModule.WebServices.Modeldto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CEC.SAISE.EDayModule.WebServices.Modeldto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VoterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="VoterNumberList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoterCertificatatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PollingStationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CircumscriptionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CircumscriptionNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoterData" nillable="true" type="tns:VoterData" />
</xs:schema>